* {
    margin: 0;
    padding: 0;
    font-family: "Be Vietnam", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    /* transition: all 0.2s linear; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* .example::-webkit-scrollbar {
    display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* .example {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
    min-height: 100vh;
}

.container {
    padding: 10px 10%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Modul Description */
.section-modul .modul {
    background: linear-gradient(to right, #1bad4b, #28b88d);
}

.section-modul .modul .first-page {
    display: flex;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
}

.section-modul .modul .first-page .description {
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-right: 50px;
}

.section-modul .modul .first-page .description h1 {
    font-size: 34px;
    margin-bottom: 40px;
}

.section-modul .modul .first-page .description p {
    font-size: 22px;
    letter-spacing: 1px;
    text-align: justify;
}

.section-modul .modul .first-page .description .button {
    margin-top: 50px;
}

.section-modul .modul .first-page .description .btn-contact {
    color: #1bad4b;
    background-color: #fff;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 16px;
}

.section-modul .modul .first-page .description .btn-contact:hover {
    background-color: #015028;
    color: #fff;
}

.section-modul .modul .first-page img {
    width: 100%;
    max-width: 1280px;
}
/* End Modul Description */

/* Advantage */
.section-advantage .advantage {
    padding: 0 80px;
}

.section-advantage .advantage .title {
    padding: 50px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
    color: #242424;
}

.section-advantage .advantage .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-advantage .advantage .wrapper .card {
    padding: 20px;
}

.section-advantage .advantage .wrapper .card img {
    height: 100%;
    max-height: 62px;
    margin-bottom: 20px;
}

.section-advantage .advantage .wrapper .card h3 {
    color: #242424;
    font-size: 24px;
    margin-bottom: 20px;
}

.section-advantage .advantage .wrapper .card p {
    color: #242424;
    font-size: 18px;
}
/* End Advantage */

/* Fasilitas */
.section-fasilitas {
    padding: 50px 0;
}

.section-fasilitas .fasilitas {
    padding: 50px 0;
    background-color: #F1F5F9;
}

.section-fasilitas .fasilitas .title {
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #242424;
}

.section-fasilitas .fasilitas .content ul li {
    font-size: 20px;
    color: #242424;
    margin-bottom: 20px;
    white-space: nowrap;
}

.section-fasilitas .fasilitas .content ul li i {
    margin-right: 2%;
}

.section-fasilitas .fasilitas .content .description-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.section-fasilitas .fasilitas .content .description-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-fasilitas .fasilitas .content img {
    width: 100%;
    max-width: 700px;
}
/* End Fasilitas */

/* Testimoni */
/* End Testimoni */

/* Media Queries */
@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1350px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 950px) {
}

@media screen and (max-width: 720px) {
}

@media screen and (max-width: 680px) {
}

@media screen and (max-width: 580px) {
}

@media screen and (max-width: 500px) {
}
