* {
    margin: 0;
    padding: 0;
    font-family: "Be Vietnam", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    /* transition: all 0.2s linear; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* .example::-webkit-scrollbar {
    display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* .example {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    padding: 10px 10%;
}

/* Header Text */
.section-header {
    height: 100vh;
    width: 100%;
    background-color: #fff;
}

.section-header .wrapper,
.section-header .slide {
    width: 100%;
    height: 100%;
}

.section-header .slide {
    overflow: hidden;
}

.section-header .slide::before {
    content: "";
    position: relative;
    height: 100%;
    width: 100%;
}

.section-header .slide .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section-header .slide .image-date {
    position: absolute;
    top: 20%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
    text-align: left;
    /* width: 100%; */
    width: auto;
}

.section-header .slide .image-date h1 {
    font-size: 48px;
    color: #fff;
    padding-right: 700px;
    text-shadow: 2px 2px 4px rgba(105, 105, 105, 0.5);
}

.section-header .slide .image-date p {
    font-size: 20px;
    color: #fff;
    padding: 10px 0;
    padding-right: 800px;
    text-shadow: 2px 2px 4px rgba(105, 105, 105, 0.5);
}

.section-header .slide a {
    display: inline-block;
    padding: 20px 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    margin-top: 25px;
}

.section-header .button-1 {
    background-color: #1bad4b;
    color: #fff;
    border: 2px solid #1bad4b;
}

.section-header .button-2 {
    background-color: inherit;
    color: #242424;
    border: 2px solid white;
}

.section-header a:hover {
    background: #015028;
    color: #fff;
    border-color: #015028;
}

.section-header .nav-btn {
    height: 50px;
    width: 50px;
    background: #fff;
    opacity: 60%;
}

.section-header .nav-btn:hover {
    background: #fff;
    opacity: 90%;
}

.section-header .swiper-button-next {
    right: 1.5rem;
}

.section-header .swiper-button-prev {
    left: 1.5rem;
}

.section-header .nav-btn::before,
.section-header .nav-btn::after {
    font-size: 25px;
    color: #1bad4b;
}

.section-header .swiper-pagination-bullet {
    width: 30px;
    height: 10px;
    margin: 0 5px;
    border-radius: 6px;
}

.section-header .swiper-pagination-bullet-active {
    background-color: #015028;
}
/* Header Text End */

/* Client */
.section-client .client {
    position: relative;
    /* margin-top: 177px; */
    background-color: #1bad4b;
    color: #fff;
    padding: 50px 0px 10px;
    overflow: hidden;
}

.section-client .client .title h3 {
    font-size: 30px;
    text-align: center;
}

.section-client .client .image img {
    width: 100%;
    margin-bottom: 100px;
}

.section-client .center-line {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 2px;
    background-color: #fff;
    align-items: center;
}

.section-client .container-line {
    display: grid;
    padding: 10px;
    place-items: center;
}

.section-client .container-line .center-line {
    width: 45%;
    height: 1px;
    background-color: #fff;
}

.section-client .custom-shape-divider-bottom-1690273045 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.section-client .custom-shape-divider-bottom-1690273045 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 200px;
}

.section-client .custom-shape-divider-bottom-1690273045 .shape-fill {
    fill: #f1f5f9;
}
/* Client End */

/* Experience */
.section-experience .experience {
    padding: 20px 0;
    background-color: #f1f5f9;
}

.section-experience .experience .text {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 150px;
}

.section-experience .experience .text .title p {
    font-size: 32px;
    color: #242424;
    margin-bottom: 30px;
}

.section-experience .experience .text .description p {
    font-size: 20px;
    color: #242424;
    font-weight: 400;
}

.section-experience .experience .advantage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 20px;
    text-align: center;
}

.section-experience .experience .advantage .experience-list {
    padding: 40px;
}

.section-experience .experience .advantage .experience-list h2 {
    font-size: 24px;
    margin-bottom: 25px;
}

.section-experience .experience .advantage .experience-list p {
    font-size: 16px;
}

.section-experience .experience .advantage .experience-list img {
    margin-bottom: 10px;
    width: 100%;
    max-width: 100px;
}

.section-experience .experience .client-map {
    display: flex;
    width: 100%;
    height: 281px;
    background-color: #015028;
    margin: auto;
    border-radius: 55px;
    position: relative;
}

.section-experience .experience .client-map .content {
    font-size: 32px;
    position: absolute;
    height: auto;
    width: inherit;
    color: #fff;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.section-experience .experience .client-map:before {
    content: "";
    display: flex;
    padding-top: 25%;
}

.section-experience .experience .client-map .maps {
    margin: auto;
    overflow: hidden;
}

.section-experience .experience .client-map .maps img {
    margin-top: -25px;
    background-size: cover;
    width: 100%;
    max-width: 750px;
}
/* End Experience */

/* Product */
.section-product .product {
    padding: 50px 0;
    align-items: center;
}

.section-product .product .title h1 {
    text-align: center;
    font-size: 32px;
    color: #242424;
}

.section-product .product .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.section-product .product .wrapper .card {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.section-product .product .wrapper .card:hover {
    box-shadow: 1px 1px 5px 0px grey;
    border-radius: 20px;
}

.section-product .product .wrapper .card .image {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-product .product .wrapper .card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.section-product .product .wrapper .card .layer h1 {
    font-size: 32px;
    color: #242424;
}

.section-product .product .wrapper .card .layer h3 {
    font-size: 24px;
    color: #242424;
    font-weight: 500;
    margin-bottom: 15px;
}

.section-product .product .wrapper .card .layer p {
    font-size: 16px;
    color: #707070;
    margin-bottom: 30px;
}

.section-product .product .wrapper .card .layer ul li {
    list-style: none;
    font-size: 20px;
    margin-bottom: 10px;
    color: #242424;
    font-weight: 400;
    display: flex;
}

.section-product .product .wrapper .card .layer ul li i {
    margin-right: 10px;
    flex-shrink: 0;
}

.section-product .product .wrapper .card .bottom {
    padding: 0 20px;
    margin-top: auto;
}

.section-product .product .wrapper .card .container-line {
    padding: 20px 0;
}

.section-product .product .wrapper .card .container-line .center-line {
    width: 100%;
    height: 1px;
    background-color: gray;
}

.section-product .product .wrapper .card .bottom .button {
    padding: 20px 0;
}

.section-product .product .wrapper .card .bottom a {
    padding: 15px 25px;
    background-color: #1bad4b;
    color: #fff;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.section-product .product .wrapper .card .bottom a i {
    margin-right: 20px;
}

.section-product .product .wrapper .card .bottom a:hover {
    background: #015028;
}
/*  End Product */

/* Video View */
.section-video .video-view {
    background-color: #015028;
    display: flex;
}

.section-video .video-view .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
    flex-direction: column;
    margin-left: 20px;
}

.section-video .video-view .text {
    color: #fff;
    margin-right: 10%;
}

.section-video .video-view .text h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.section-video .video-view .text p {
    font-size: 20px;
    margin-top: 2%;
}

.section-video .video-view .video iframe {
    width: 100%;
    border-radius: 20px;
}
/* End Video View */

/* Blog */
.section-blog .blog .title {
    padding: 20px 0;
}

.section-blog .blog .title h1 {
    text-align: center;
    font-size: 42px;
}

.section-blog .blog .content .wrapper .line::after {
    content: "";
    position: absolute;
    bottom: -10;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    border-bottom: 3px solid #1bad4b;
}

.section-blog .blog .content .wrapper .card {
    border: 1px solid #bcbcbc;
    border-color: #bcbcbc;
    border-radius: 20px;
    margin-bottom: 30px;
    color: #242424;
    background-color: #f5f5f5;
}

.section-blog .blog .content .wrapper .card .image {
    position: relative;
    width: auto;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
}

.section-blog .blog .content .wrapper .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section-blog .blog .content .wrapper .card .description {
    padding: 0 20px;
}

.section-blog .blog .content .wrapper .card h3 {
    font-size: 20px;
    padding: 10px 0;
    color: #242424;
}

.section-blog .blog .content .wrapper .card p {
    font-size: 16px;
    color: #707070;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.section-blog .blog .content .wrapper .card .button {
    text-align: right;
    padding: 20px 0;
}

.section-blog .blog .content .wrapper .card a {
    color: #079d48;
    font-size: 18px;
}

.section-blog .swiper-pagination-bullet {
    width: 30px;
    height: 8px;
    border-radius: 6px;
}

.section-blog .swiper-pagination-bullet-active {
    background-color: #015028;
}
/* End Blog */

/* Animation */
.scroll-section {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.scroll-section.animated {
    opacity: 1;
    transform: translateX(0);
}
/* End Animation */

/* Media Queries */
@media screen and (max-width: 1500px) {
    /* Header */
    .section-header .slide .image-date h1 {
        padding-right: 700px;
    }

    .section-header .slide .image-date h3 {
        padding-right: 700px;
    }
    /* End Header */

    /* Experience */
    .section-experience .experience .text {
        margin: 0 80px;
    }
    /* End Experience */
}

@media screen and (max-width: 1350px) {
    /* Header */
    .section-header .slide .image-date h1 {
        padding-right: 600px;
    }

    .section-header .slide .image-date h3 {
        padding-right: 600px;
    }
    /* End Header */

    /* Product */
    .section-product .product .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 40px;
    }
    /* End Product */

    /* Video View */
    .section-video .video-view .text {
        margin-right: 0;
    }
    /* End Video View */
}

@media screen and (max-width: 1200px) {
    /* Header */
    .section-header .slide .image-date h1 {
        padding-right: 400px;
    }

    .section-header .slide .image-date h3 {
        padding-right: 400px;
    }
    /* End Header */

    /* Experience */
    .section-experience .experience .text {
        margin: 0 50px;
    }
    /* End Experience */
}

@media screen and (max-width: 991px) {
    /* Header */
    .section-header .slide .image-date h1 {
        padding-right: 200px;
    }

    .section-header .slide .image-date h3 {
        padding-right: 200px;
    }
    /* End Header */

    /* Experience */
    #experience .client-map .maps img {
        margin-top: -25px;
        width: 100%;
    }
    /* End Experience */

    /* Video View */
    .section-video .video-view .text {
        margin-right: 0;
    }
    /* End Video View */
}

@media screen and (max-width: 800px) {
    /* Header Text */
    .section-header .slide .image-date {
        top: 20%;
    }

    .section-header .slide .image-date h1 {
        padding-right: 0;
    }

    .section-header .slide .image-date h3 {
        padding-right: 0;
    }
    /* End Header Text */

    /* Blog */
    .section-video .video-view .content {
        justify-content: center;
        text-align: center;
        align-items: center;
        grid-template-columns: 1fr;
    }
    /* End Blog */
}

@media screen and (max-width: 680px) {
    /* Header Text */
    .section-header .nav-btn {
        display: none;
    }
    /* End Header Text */

    /* Experience */
    .section-experience .experience .text {
        margin: 0;
    }
    /* End Experience */
}

@media screen and (max-width: 580px) {
    /* Header Text */
    .section-header .slide .image-date {
        top: 15%;
    }

    .section-header .slide .image-date h1 {
        font-size: 38px;
    }

    .section-header .slide .image-date h3 {
        font-size: 18px;
    }

    .section-header .slide a {
        padding: 15px 20px;
        font-size: 14px;
        margin-top: 10px;
    }
    /* End Header Text */

    /* Experience */
    .section-experience .experience .text .title p {
        font-size: 28px;
    }

    .section-experience .experience .text .description p {
        font-size: 16px;
    }
    /* End Experience */

    /* Product */
    .section-product .product .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 40px;
    }
    /* End Product */
}

@media screen and (max-width: 500px) {
    /* Client */
    .section-client .client {
        padding: 10px 0px 10px;
    }

    .section-client .client .title h3 {
        font-size: 26px;
    }
    /* End Client */

    /* Experience */
    .section-experience .experience .advantage .experience-list {
        padding: 20px;
    }

    .section-experience .experience .advantage .experience-list h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .section-experience .experience .advantage .experience-list p {
        font-size: 14px;
    }

    .section-experience .experience .advantage .experience-list img {
        width: 100%;
        max-width: 70px;
    }
    /* End Experience */

    /* Product */
    .section-product .product .wrapper .card .layer h1 {
        font-size: 26px;
    }

    .section-product .product .wrapper .card .layer h3 {
        font-size: 20px;
    }

    .section-product .product .wrapper .card .layer p {
        font-size: 12px;
    }

    .section-product .product .wrapper .card .layer ul li {
        font-size: 14px;
    }

    .section-product .product .wrapper .card .bottom .button {
        padding: 10px 0;
    }

    .section-product .product .wrapper .card .bottom a {
        padding: 15px 15px;
        font-size: 12px;
    }

    .section-product .product .wrapper .card .bottom a i {
        margin-right: 10px;
    }
    /* End Product */
}

@media screen and (max-width: 360px) {
    /* Header Text */
    .section-header .slide .image-date {
        top: 15%;
    }

    .section-header .slide .image-date h1 {
        font-size: 28px;
    }

    .section-header .slide .image-date h3 {
        font-size: 12px;
    }

    .section-header .slide a {
        padding: 10px 15px;
        font-size: 12px;
        margin-top: 10px;
    }
    /* End Header Text */

    /* Client */
    .section-client .client .title h3 {
        font-size: 20px;
    }
    /* End Client */

    /* Experience */
    .section-experience .experience .text .title p {
        font-size: 22px;
    }

    .section-experience .experience .text .description p {
        font-size: 14px;
    }
    /* End Experience */

    /* Blog */
    .section-blog .blog .title h1 {
        font-size: 30px;
    }
    /* End Blog */
}
