* {
    margin: 0;
    padding: 0;
    font-family: "Be Vietnam", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    /* transition: all 0.2s linear; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* .example::-webkit-scrollbar {
    display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* .example {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

html {
    scroll-behavior: smooth;
}

body {
    background: #f5f5f5;
    min-height: 100vh;
}

.container {
    padding: 10px 10%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Header */
/* header {
    position: sticky;
    top: 0;
    z-index: 1000;
} */

.navbar {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 5%;
}

.navbar .btn-back {
    color: #707070;
    font-size: 16px;
    text-decoration: none;
}

/* .navbar .btn-back:hover {
    color: #1bad4b;
} */

.navbar img {
    width: 100%;
    max-width: 100px;
}
/* End Header */

/* Demo */
.section-demo .demo .title {
    padding: 8% 0 0;
    margin: auto;
}

.section-demo .demo .image {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-demo .demo .image img {
    width: 100%;
    max-width: 320px;
}

.section-demo .demo .text {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 800px;
    margin: 0 auto 0;
    margin-top: 15px;
}

.section-demo .demo .text p {
    font-size: 20px;
    color: #707070;
    margin-top: 40px;
}

.section-demo .demo .form-demo {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 800px;
    margin: 0 auto 100px;
    margin-top: 15px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.section-demo .demo .form-demo label {
    font-size: 20px;
    color: #242424;
}

.section-demo .demo .form-demo input {
    font-size: 18px;
    color: #242424;
}

.section-demo .demo .form-demo span {
    color: red;
}

.section-demo .demo .form-demo .btn-submit {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.section-demo .demo .form-demo .btn-submit input {
    font-size: 20px;
    color: #fff;
    background-color: #1bad4b;
    border-radius: 10px;
    padding: 15px 30px;
    border: none;
}

.section-demo .demo .form-demo .btn-submit input:hover {
    background-color: #015028;
    transition: all ease 0.3s;
}
/* End Demo */

/* Footer */
.copyright {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 10px;
}

.copyright p {
    font-size: 16px;
    color: #707070;
}
/* End Footer */

/* Media Queries */
@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1350px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 950px) {
}

@media screen and (max-width: 720px) {
}

@media screen and (max-width: 680px) {
}

@media screen and (max-width: 580px) {
}

@media screen and (max-width: 360px) {
    /* Demo */
    .section-demo .demo .image img {
        max-width: 200px;
    }

    .section-demo .demo .text p {
        font-size: 14px;
        margin-top: 20px;
    }

    .section-demo .demo .form-demo {
        margin-top: 10px;
        padding: 20px;
    }

    .section-demo .demo .form-demo label {
        font-size: 16px;
    }

    .section-demo .demo .form-demo input {
        font-size: 14px;
    }

    .section-demo .demo .form-demo .btn-submit {
        margin-top: 30px;
    }

    .section-demo .demo .form-demo .btn-submit input {
        font-size: 16px;
        padding: 10px 25px;
    }
    /* End Demo */

    /* Footer */
    .copyright p {
        font-size: 14px;
    }
    /* End Footer */
}
