* {
    margin: 0;
    padding: 0;
    font-family: "Be Vietnam", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    /* transition: all 0.2s linear; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* .example::-webkit-scrollbar {
    display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* .example {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
    min-height: 100vh;
}

.container {
    padding: 10px 10%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* BLog */
/* Top Card */
.section-blog .blog {
    padding: 40px 0;
}

.section-blog .blog .text {
    margin-bottom: 50px;
}

.section-blog .blog .top-card .content {
    display: flex;
}

.section-blog .blog .top-card .content .image,
.section-blog .blog .top-card .content .description {
    flex: 1;
    flex-basis: 0;
}

.section-blog .blog .top-card .content img {
    width: 100%;
    /* min-width: 600px; */
    max-width: 1200px;
}

.section-blog .blog .top-card .description {
    padding: 20px 50px;
    border-bottom: 2px solid #1bad4b;
}

.section-blog .blog .top-card .description h3 {
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 30px;
    color: #242424;
}

.section-blog .blog .top-card .description p {
    color: #707070;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    letter-spacing: 2px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.section-blog .blog .top-card .description a {
    color: #079d48;
    font-size: 18px;
    line-height: 32px;
}

.section-blog .blog .top-card .update {
    display: flex;
    margin-top: 30px;
}

.section-blog .blog .top-card .update .name .admin {
    color: #242424;
    font-size: 18px;
    font-weight: 700;
    margin-right: 20px;
}

.section-blog .blog .top-card .update .date .admin {
    color: #b9b9b9;
    font-size: 18px;
}
/* End Top Card */

/* Bottom Card */
.section-blog .blog .bottom-card {
    margin-top: 50px;
    border-bottom: 1px solid #707070;
}

.section-blog .blog .bottom-card .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 60px 50px;
}

.section-blog .blog .bottom-card .wrapper .card {
    padding: 20px;
}

.section-blog .blog .bottom-card .wrapper .card .image {
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.section-blog .blog .bottom-card .wrapper .card img {
    width: 100%;
    max-width: 450px;
    margin-bottom: 10px;
}

.section-blog .blog .bottom-card .wrapper .card .description {
    padding: 10px 10px;
}

.section-blog .blog .bottom-card .wrapper .card .description h3 {
    color: #242424;
    font-size: 20px;
    margin-bottom: 10px;
}

.section-blog .blog .bottom-card .wrapper .card .description p {
    color: #707070;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.section-blog .blog .bottom-card .wrapper .card .button {
    text-align: right;
}

.section-blog .blog .bottom-card .wrapper .card a {
    color: #079d48;
    font-size: 18px;
}
/* End Bottom Card */
/* End Blog */

/* Article */
.section-article .article {
    padding: 40px 0;
}

.section-article .article .wrapper {
    display: grid;
    gap: 30px;
}

.section-article .article .card {
    display: none;
}

.section-article .article .card:nth-child(1),
.section-article .article .card:nth-child(2),
.section-article .article .card:nth-child(3) {
    display: flex;
}

.section-article .article .card img {
    width: 100%;
    max-width: 1000px;
}

.section-article .article .card .description {
    padding: 20px 30px;
}

.section-article .article .card h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

.section-article .article .card p {
    font-size: 18px;
    color: #707070;
    margin-bottom: 30px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.section-article .article .card a {
    color: #079d48;
    font-size: 18px;
}

.section-article .article .button {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.section-article .btn-load {
    padding: 15px 60px;
    color: #1bad4b;
    border: 1px solid #1bad4b;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.section-article .btn-less {
    padding: 15px 60px;
    color: #1bad4b;
    border: 1px solid #1bad4b;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: none;
}

.section-article .btn-less:hover,
.section-article .btn-load:hover {
    background-color: #1bad4b;
    color: #fff;
}
/* End Article */

/* Media Queries */
@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1350px) {
}

@media screen and (max-width: 1200px) {
    /* Blog */
    .section-blog .blog .top-card .content {
        display: block;
    }

    .section-blog .blog .top-card .content .image {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .section-blog .blog .top-card .content img {
        width: 100%;
        /* min-width: 600px; */
        max-width: 800px;
    }

    .section-blog .blog .top-card .description {
        padding: 20px 30px;
    }

    .section-blog .blog .bottom-card {
        margin-top: 20px;
    }

    .section-blog .blog .bottom-card .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px 30px;
    }
    /* End Blog */
}

@media screen and (max-width: 991px) {
    /* Article */
    .section-article .article .card {
        display: block;
    }

    .section-article .article {
        padding: 10px 0;
    }

    .section-article .article .card .image {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .section-article .article .card img {
        width: 100%;
        max-width: 500px;
    }

    .section-article .article .card h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .section-article .article .card p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .section-article .article .card a {
        font-size: 16px;
    }

    .section-article .btn-load {
        padding: 10px 40px;
        font-size: 16px;
    }

    .section-article .btn-less {
        padding: 10px 40px;
        font-size: 16px;
        display: none;
    }

    .section-article .btn-less:hover,
    .section-article .btn-load:hover {
        background-color: #1bad4b;
        color: #fff;
    }
    /* End Article */
}

@media screen and (max-width: 950px) {
}

@media screen and (max-width: 720px) {
}

@media screen and (max-width: 680px) {
    /* Blog */
    .section-blog .blog .top-card .description {
        padding: 20px 5px;
    }

    .section-blog .blog .top-card .description h3 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .section-blog .blog .top-card .description p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .section-blog .blog .top-card .description a {
        font-size: 14px;
    }

    .section-blog .blog .top-card .update .name .admin {
        font-size: 12px;
    }

    .section-blog .blog .top-card .update .date .admin {
        font-size: 12px;
    }
    /* End Blog */
}

@media screen and (max-width: 580px) {
    /* Blog */
    .section-blog .blog .bottom-card .wrapper .card {
        padding: 10px;
    }

    .section-blog .blog .bottom-card .wrapper .card .description {
        padding: 10px 5px;
    }

    .section-blog .blog .bottom-card .wrapper .card .description h3 {
        font-size: 16px;
    }

    .section-blog .blog .bottom-card .wrapper .card .description p {
        font-size: 12px;
    }

    .section-blog .blog .bottom-card .wrapper .card a {
        font-size: 14px;
    }
    /* End Blog */
}

@media screen and (max-width: 500px) {
    /* Article */
    .section-article .article .card .description {
        padding: 10px;
    }

    .section-article .article .card h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .section-article .article .card p {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .section-article .article .card a {
        font-size: 14px;
    }

    .section-article .article .button {
        margin-top: 20px;
    }

    .section-article .btn-load {
        padding: 10px 30px;
        font-size: 14px;
    }

    .section-article .btn-less {
        padding: 8px 30px;
        font-size: 14px;
        display: none;
    }

    .section-article .btn-less:hover,
    .section-article .btn-load:hover {
        background-color: #1bad4b;
        color: #fff;
    }
    /* End Article */
}
